<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengyun.mapper.UserMapper">

    <insert id="addUser">
        insert into user_t(name) VALUE (#{0})
    </insert>

    <insert id="addUserRecord">
        insert into user_record_t(name) VALUE (#{0})
    </insert>
</mapper>